body {
    background-color: lightskyblue;
    margin: 10px 20px;
}

a {
    color: midnightblue;
}
hr {
    border: 1px solid black;
}

table {
    margin: 0 2.5%;
    width: 95%;
    background-color: lightcyan;
    text-align: center;
}
table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px 10px;
}

footer {
    margin-top: 25px;
    padding: 10px;
    text-align: center;
    font-style: italic;
    color: white;
    background-color: darkslategray;
}
footer a {
    color: powderblue;
}