body {
    background-color: rgb(181, 188, 232);
    font-family: "Trebuchet MS", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
}

.bubble {
    background-color: aliceblue;
    padding: 15px 20px;
    border-radius: 5px;
}

header .bubble {
    padding: 10px 50px;
}

.center {
    display: flex;
    justify-content: center;
}

canvas {
    background-color: skyblue;
    border: 4px solid black;
    border-radius: 10px;
}

.colorButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.colorButtons button {
    background-color: #d0cdee;
    border: 3px solid #f1effd;
    border-radius: 20px;
    padding: 10px 15px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1em;
}

.colorButtons button:hover {
    background-color: aliceblue;
    border: 3px solid white;
}

.globalButtons button {
    font-weight: bold;
}